[
  {
    "id": "postgres-db",
    "name": "postgres Credential",
    "type": "postgres",
    "data": {
      "host": "db",
      "database": "jager",
      "user": "jager",
      "password": "jager",
      "port": 5432,
      "ssl": "disable"
    }
  },
  {
    "id": "slack-api-cred",
    "name": "Slack API Credential",
    "type": "slackApi",
    "data": {
      "accessToken": "xoxb-YOUR-SLACK-BOT-TOKEN"
    }
  },
  {
    "id": "ollama-cloud-api",
    "name": "Ollama Cloud API",
    "type": "httpHeaderAuth",
    "data": {
      "name": "Authorization",
      "value": "Bearer YOUR-OLLAMA-API-KEY"
    }
  },
  {
    "id": "linkedin-oauth2",
    "name": "LinkedIn OAuth2 Credential",
    "type": "linkedInOAuth2Api",
    "data": {
      "clientId": "YOUR-LINKEDIN-CLIENT-ID",
      "clientSecret": "YOUR-LINKEDIN-CLIENT-SECRET"
    }
  }
]

